{% extends 'base.html' %} 

{% block main %}


<h1>Marka update sayfası </h1>
{% block title %}
<title>Update Claim  </title>
{% endblock %}
{% for urun_sonuc in data %}

<form action="/admin/markagüncelle?id={{ urun_sonuc[0] }}" method="post" >

    <table class="table">

        <thead>
            <tr>
                <td><label> Marka resim:</label</td>
                <td> <input type="text"   name="marka_imaj" class = "input" value="{{ urun_sonuc[1] }}"><br></td>
            </tr><br><br>
            <tr>
                <td><label> marka sırası:</label</td>
                <td> <input type="text"   name="order" value=" {{ urun_sonuc[2] }}"><br></td>
            </tr>
            
        </thead>
        {% endfor %}

    


    </table>
    <input type="submit" name="Marka  ekle" width="20px">
    
    
    </form>
    {% endblock %}