
    
            <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Anasayfa</span>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/rapor" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Raporlar</span>
            </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/urun" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Ürün</span>
            </a>
            </li>


            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/marka" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Marka   </span>
            </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/Blog" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Blog  </span>
            </a>
            </li>
            <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/reklam" aria-expanded="false">
                <span>
                <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Reklamlar  </span>
            </a>
            </li>
            <li class="sidebar-item">
        
            </li>